<h2>Búsqueda</h2>
<hr>
<ul class="list-group">
  <li routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}"
    class="list-group-item">By Capital</li>
  <li
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}"
    routerLink="countries/by-country" class="list-group-item">By Country</li>
  <li
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}"
    routerLink="countries/by-region" class="list-group-item">By Region</li>
</ul>
